[init]
	defaultBranch = main
[user]
	email = robertvirany@gmail.com
	name = Robert Virany
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[core]
	pager = 
[status]
	showUntrackedFiles = normal
[alias]
	lg = log --oneline --pretty='%h %aI %s'
